footer {
  background: #2980b9;
  padding: 50px 0;
  color: white;
}

footer .footer-content a {
  display: block;
  text-decoration: underline;
  color: white;
  margin-bottom: 3px;
}

footer .footer-content button {
  padding: 13px 30px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}

@media (max-width: 767px) {
  .footer {
    padding: 40px 0;
  }

  .footer-content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-content .col {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .footer-content .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
