.detail-section {
  padding: 10px 32px;
}

.detail-section h1 {
  font-family: 'Montserrat';
  font-size: 18px;
}

.detail-section .detail-content {
  width: 100%;
  display: flex;
  gap: 2%;
}

.detail-section .detail-content .info-patient {
  flex-basis: 65%;
  box-shadow: 0 5px 13px #297fb918;
  padding: 24px;
}

.detail-section .detail-content .info-general {
  flex-basis: 35%;
  box-shadow: 0 5px 13px #297fb918;
  padding: 24px;
}

.detail-section .info-general img {
  width: 120px;
  height: 120px;
  object-fit: cover; 
}

.detail-section .info-general h3 {
  font-size: 22px;
  font-family: 'Montserrat';
}

.detail-section .info-general p {
  font-size: 18px;
}