.profil-section {
  padding: 10px 32px;
}

.profil-section h1 {
  font-family: 'Montserrat';
  font-size: 18px;
}

.profil-section .form-content {
  box-shadow: 0 10px 13px #297fb915;
  padding: 30px;
  border-radius: 5px;
}

.profil-section .profil-heading {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.20);
  border-radius: 8px;
  box-shadow: 0 6px 8px #297fb915;
  padding: 36px 50px;
}

.profil-section .profil-heading img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -70px;
}