.connexion-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.connexion-container .form-section {
  background-color: #f1948a;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.form-section .container {
  display: flex;
  flex-direction: row;
}
.left-panel {
  color: white;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left-panel .btn-retour {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.left-panel h2 {
  font-size: 24px;
  font-weight: bold;
}
.left-panel p {
  font-size: 16px;
  margin-top: 10px;
}
.left-panel .img-fluid {
  transform: scaleX(-1);
}
.form-panel {
  margin: auto;
  padding: 40px;
  width: auto;
  background-color: #fff;
}
.connexion-container .form-panel h3 {
  color: #2980B9;
  margin-bottom: 20px;
}
.connexion-container .form-panel input {
  padding: 10px 15px;
  min-width: 400px;
}
.connexion-container .btn-custom {
  background-color: #2980B9;
  color: white;
  border-radius: 5px;
}
.btn-custom:hover {
  background-color: #135a85;
}
.already-account {
  text-align: center;
  margin-top: 15px;
}
.connexion-container.already-account a {
  color: #2980B9;
}
.already-account a:hover {
  text-decoration: underline;
}
.form-control {
  border-radius: 5px;
}
